<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AppCode.Properties.Settings.JoyanaSecurityDBConnectionString"
            connectionString="Data Source=JOSE-CADIMA-PC\SQLEXPRESS;Initial Catalog=JoyanaSecurityDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>